    <h1> Patient Name: <%= @patient.name %> </h1>
    <h2> Patient History</h2>
    <hr>
    <ul> 
    <li> Age: <%= @patient.age %>  </li>
    <li> Phone Number: <%= @patient.phone_number %>  </li>
    <li> Appointment Reason: <%= @patient.reason %> </li> 
    </ul>

<%= link_to 'New Appointment', new_physician_appointment_path(@patient, @physician) %>

<hr>

<p> Change patient status </p>

<button class="btn btn-info"> <%= link_to 'Back', root_path%> </button>

<button class="btn btn-warning"> <%= link_to 'Update Details', edit_patient_path(@patient) %> </button>

<button class="btn btn-danger">  <%= link_to 'Remove Patient', @patient,  method: :delete %> </button>
