<h1 class="mb-3"><%= @physician.name %>'s Appointment Calendar</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Reason</th>
      <th scope="col">Physician</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      <% @physician.appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.patient.name %></td>
      <td><%= appointment.patient.age %></td>
      <td><%= appointment.patient.reason %></td>
      <td><%= appointment.physician.name %></td>
      <td> <%= appointment.date %> - <%= appointment.time %></td>
      <td> <%= link_to 'Update Details', edit_physician_appointment_path(@physician, appointment) %> </td>
      <td> <%= link_to 'Remove', physician_appointment_path(@physician, appointment), method: :delete %> </td>
    </tr>
        <% end %>
  </tbody>
</table>

<hr>

<button class="btn btn-info"> 
 <%= link_to 'Back', physicians_path %>
</button>

<button class="btn btn-info"> 
<%= link_to 'New Appointment', new_physician_appointment_path(@physician) %>
</button>